<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b1beff61565e9409f12f2498fd9b02fa {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b1beff61565e9409f12f2498fd9b02fa" ></div>
        
</body>
<script>    
    
            var map_b1beff61565e9409f12f2498fd9b02fa = L.map(
                "map_b1beff61565e9409f12f2498fd9b02fa",
                {
                    center: [37.0, 127.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 7.2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_212ff0026d75bdb91d6af5a1ae30a681 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            var circle_marker_5233a9a463ceec19cbbf8f72b9032c4a = L.circleMarker(
                [36.6566666667, 127.3902777778],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": "yellow", "fillColor": "yellow", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_5233a9a463ceec19cbbf8f72b9032c4a.bindTooltip(
                `<div>
                     False
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_02a332c66b3661d41c3ab0c1414e3d35 = L.circleMarker(
                [35.7141666667, 126.8194444444],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": "yellow", "fillColor": "yellow", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_02a332c66b3661d41c3ab0c1414e3d35.bindTooltip(
                `<div>
                     False
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_b19855357c5f1b02998ce6f5dd5b82ac = L.circleMarker(
                [36.3191666667, 126.9155555556],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": "yellow", "fillColor": "yellow", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_b19855357c5f1b02998ce6f5dd5b82ac.bindTooltip(
                `<div>
                     False
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_9b88a9e3e0ebe5aeee3e832ff746f8a0 = L.circleMarker(
                [37.2761111111, 126.9897222222],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": "yellow", "fillColor": "yellow", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_9b88a9e3e0ebe5aeee3e832ff746f8a0.bindTooltip(
                `<div>
                     False
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ef42364f10e3a25f819bbaa3a61fd3da = L.circleMarker(
                [35.9677777778, 127.5369444444],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": "blue", "fillColor": "blue", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_ef42364f10e3a25f819bbaa3a61fd3da.bindTooltip(
                `<div>
                     True
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_02e5b6764ce3c411b7c41cee42f6902f = L.circleMarker(
                [37.5211111111, 127.2852777778],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": "yellow", "fillColor": "yellow", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_02e5b6764ce3c411b7c41cee42f6902f.bindTooltip(
                `<div>
                     False
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_cef4130c9ad2cee8507465e6410d24f2 = L.circleMarker(
                [36.2166666667, 127.5697222222],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": "blue", "fillColor": "blue", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_cef4130c9ad2cee8507465e6410d24f2.bindTooltip(
                `<div>
                     True
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_272169355e9f4c478c23ab08aaf919c3 = L.circleMarker(
                [37.3241666667, 127.1136111111],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": "yellow", "fillColor": "yellow", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_272169355e9f4c478c23ab08aaf919c3.bindTooltip(
                `<div>
                     False
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_887f4e81fed0daf95b3a4df909f2f123 = L.circleMarker(
                [35.9597222222, 128.5530555556],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": "yellow", "fillColor": "yellow", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_887f4e81fed0daf95b3a4df909f2f123.bindTooltip(
                `<div>
                     False
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_417f53ce503d94b09b0b97b3f23b64ac = L.circleMarker(
                [35.5147222222, 128.3694444444],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": "yellow", "fillColor": "yellow", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_417f53ce503d94b09b0b97b3f23b64ac.bindTooltip(
                `<div>
                     False
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_3ab16d107384569c7e50f4015735b7b9 = L.circleMarker(
                [37.2808333333, 127.0633333333],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": "yellow", "fillColor": "yellow", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_3ab16d107384569c7e50f4015735b7b9.bindTooltip(
                `<div>
                     False
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_e014a92000c4b2fd6075408ebe9b08ad = L.circleMarker(
                [35.4397222222, 128.3772222222],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": "yellow", "fillColor": "yellow", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_e014a92000c4b2fd6075408ebe9b08ad.bindTooltip(
                `<div>
                     False
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_701900921ce65384349043b646f8971b = L.circleMarker(
                [35.3736111111, 128.1027777778],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": "blue", "fillColor": "blue", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_701900921ce65384349043b646f8971b.bindTooltip(
                `<div>
                     True
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d20cf5477b9d5f202c9af2ff789c6cea = L.circleMarker(
                [35.7963888889, 128.6180555556],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": "blue", "fillColor": "blue", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_d20cf5477b9d5f202c9af2ff789c6cea.bindTooltip(
                `<div>
                     True
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ee5ec5e6f818b0a45a006264188be06b = L.circleMarker(
                [35.2822222222, 127.9611111111],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": "green", "fillColor": "green", "fillOpacity": 100, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4, "stroke": true, "weight": 3}
            ).addTo(map_b1beff61565e9409f12f2498fd9b02fa);
        
    
            circle_marker_ee5ec5e6f818b0a45a006264188be06b.bindTooltip(
                `<div>
                     True
                 </div>`,
                {"sticky": true}
            );
        
    
                var lat_lng_popup_cbd8a68fd9d00778646e16fb83a4488a = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_cbd8a68fd9d00778646e16fb83a4488a
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_b1beff61565e9409f12f2498fd9b02fa);
                    }
                map_b1beff61565e9409f12f2498fd9b02fa.on('click', latLngPop);
            
</script>